@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #c4c8d0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial,
    sans-serif;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 60px;
  height: 45px;
  background: #002140;
  color: rgb(0, 126, 244);
  border-radius: 6px;
}

/* :where(.css-dev-only-do-not-override-1xg9z9n).ant-menu-dark */
/* .layout-sider {
  background-color: rgb(0, 126, 244);
}

.trigger {
  background-color: rgb(2, 66, 126);
} */

/* .ant-menu-horizontal {
  height: 40px;
}

.ant-menu-dark .ant-menu-item {
  background-color: rgb(52, 0, 52);
}

.ant-menu-dark .ant-menu-popup {
  background-color: rgb(52, 0, 52);
}

.ant-menu-dark .ant-menu-submenu-popup {
  background-color: rgb(28, 0, 28);
}

.ant-menu-dark .ant-menu-item-selected {
  background-color: rgb(77, 0, 77);
} */
/* #app-loading {
  position: relative;
  top: 45vh;
  margin: 0 auto;
  color: #409eff;
  font-size: 12px;
}

#app-loading,
#app-loading::before,
#app-loading::after {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  animation: 2s ease-in-out infinite app-loading-animation;
}

#app-loading::before,
#app-loading::after {
  content: "";
  position: absolute;
}

#app-loading::before {
  left: -4em;
  animation-delay: -0.2s;
}

#app-loading::after {
  left: 4em;
  animation-delay: 0.2s;
}

@keyframes app-loading-animation {
  0%,
  80%,
  100% {
    box-shadow: 0 2em 0 -2em;
  }
  40% {
    box-shadow: 0 2em 0 0;
  }
} */